<% provide(:title, t(".help")) %>
<h1><%= t(".help")%> </h1>
<p>
  <%= t(".text_book", link_to_book: link_to(t(".link_text"),
   "https://www.railstutorial.org/help"),link_to_book_1:link_to(t(".link_text_1"),
   "https://www.railstutorial.org/book")).html_safe %>
</p>
