<div class="center jumbotron">
  <h1><%= t ".home" %> </h1>
  <p>
  <%= t(".text_book", link_to_book: link_to(t(".link_text"),
   "https://www.railstutorial.org/")).html_safe %>
  </p>
  <%= link_to(t(".sign_up"), signup_path, class: "btn btn-lg btn-primary") %>
</div>
  <%= link_to image_tag(t(".rails_png"), alt: "Rails logo"), t(".railsorg") %>
