<footer class="footer">
  <small>
    <%= t(".text", link_to_web: link_to(t(".link_text"), "https://www.railstutorial.org/"),
      link_to_web_1: link_to(t(".link_text_1"), "http://www.michaelhartl.com/")).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to(t(".about"), about_path) %></li>
      <li><%= link_to(t(".contact"), contact_path) %></li>
      <li><%= link_to(t(".link_text_2"), "http://news.railstutorial.org/") %></li>
    </ul>
  </nav>
</footer>
